.App-header {
  background-color: rgb(0, 238, 255);
    color: rgb(9, 4, 109);
    margin: 0 auto;
    overflow: auto;
    background-image: linear-gradient(left,rgb(23, 120, 156),rgb(177, 234, 244));
    background-image: -o-linear-gradient(left,rgb(23, 120, 156),rgb(177, 234, 244));
    background-image: -moz-linear-gradient(left,rgb(23, 120, 156),rgb(177, 234, 244));
    background-image: -webkit-linear-gradient(left,rgb(23, 120, 156),rgb(177, 234, 244));
}

.BoxCss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles {
    height: 52px;
    border-bottom: 3px;
    border-bottom-color: hsla(0,0%,100%,0);
    border-bottom-style: solid;
    padding: 0 15px;
    max-width: 28px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all .3s linear;
    overflow: hidden;
    text-decoration: none;
}

